.list {
  display: flex;
}

.item {
  width: 168px;
  text-align: center;
  line-height: 1.14;
  &:not(:last-child) {
    margin-right: 104px;
  }
}

.number {
  font-family: Fira Sans Extra Condensed;
  font-weight: bold;
  font-size: 45px;
  text-transform: uppercase;
  color: #333333;
}

.description {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.31px;

  color: #272727;
  margin-top: 12px;
}
