.list {
  display: flex;
}
.item {
  width: 168px;
  text-align: center;
  letter-spacing: -0.31px;
  line-height: 1.14;
  color: #272727;
  &:not(:last-child) {
    margin-right: 103px;
  }
}

.userImg {
  width: 139px;
  height: 139px;
}

.title {
  width: 168px;
  font-family: Fira Sans Extra Condensed;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 35px;
}

.description {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  margin-top: 14px;
}
