.navMenuBurger {
  @media screen and (min-width: 1440px) {
    background-color: rebeccapurple;
    height: 100px;
  }
  @media screen and (min-width: 375px) {
    background-color: blue;
    height: 100px;
  }
}
