.headerContact {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 375px) {
  }
}

.headerItem {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
  }
  @media screen and (min-width: 375px) {
  }
}
.headerNav {
  @media screen and (min-width: 1440px) {
    color: inherit;
    padding-top: 18px;
    padding-bottom: 18px;
    display: inline-block;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
  }
  @media screen and (min-width: 375px) {
  }
}

.iconWhatsapp {
  @media screen and (min-width: 1440px) {
    margin-right: 6px;
  }
  @media screen and (min-width: 375px) {
  }
}
.iconViber {
  @media screen and (min-width: 1440px) {
    margin-right: 12px;
  }
  @media screen and (min-width: 375px) {
  }
}
